html {font-size: 100%;} /*16px*/

body {
  background-color: #F1F3F8;
  font-family: acumin-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 1.65;
  color: #1B262C;
}


h1, h2, h3, h4, h5 {
  margin: 3rem 0 1.05rem;
  font-family: p22-mackinac-pro, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
}

h1 {
  font-size: 3.3em;
  text-transform: uppercase;
  text-shadow: 3px 2px #F1F3F8;
}

h2 {
  font-size: 1.8em;
  margin:0;
}

h3 {font-size: 2.6em;
  padding-bottom: 10px;
margin:0;}

h4 {font-size: 1.5em;}

h5 {font-size: 1.25em;}

#intro {
  font-family: p22-mackinac-pro, serif;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

small, .text_small {font-size: 0.8px;}
